<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/addGrievance.css">
    <link rel="stylesheet" href="css/nav.css">
    <title>Add Grievance</title>

</head>

<body>
    <div id='cssmenu'>
        <ul>
            <li><a href='/profile'><span>Home</span></a></li>
            <li><a href='/status'><span>History</span></a></li>
            <li id="addGr" class="active"><a href='/addGrievance'><span>Add Grievance</span></a></li>
            <li class='last'><a href='/logout'><span>Logout</span></a></li>
        </ul>
    </div>
    <h1>Submit Grievance</h1>
    <div id="error"></div>
    <div id="add_grievance_form">
        <div>

            <select name="level" id="level">
                <option value="U">University</option>
                <option value="I">Institute</option>
                <option value="D">Department</option>
            </select>
        </div>

        <div>
            <select name="category1" id="category1">
                <!--University options -->
                <option value="Finance">Finance</option>
                <option value="Accounts">Accounts</option>
                <option value="Admissions">Admissions</option>
            </select>
            <select name="category2" id="category2">
                <!--Institute options -->
                <option value="Branch">Branch</option>
                <option value="Hostel">Hostel</option>
                <option value="Mess">Mess</option>
            </select>
            <select name="category3" id="category3">
                <!--Department options -->
                <option value="Section">Section</option>
                <option value="Teacher">Teacher</option>
                <option value="Subject">Subject</option>
            </select>
        </div>

        <div>
            <input id="details" placeholder="Details" required></input>
        </div>
        <div>
            <button type="submit" id="submit">Submit</button>
        </div>

    </div>
    <script src="js/addGrievance.js"></script>
</body>

</html>
