<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/addMem.css">
    <link rel="stylesheet" href="css/nav.css">
    <script src="js/addMem.js"></script>
</head>

<body>
    <div id='cssmenu'>
        <ul>
            <li ><a href='#'><span>Home</span></a></li>
            <li><a href='/status'><span>History</span></a></li>
            <li id="addMem" class='active' ><a href='#'><span>Add/Remove Members</span></a></li>
            <li class='last'><a href='/logout'><span>Logout</span></a></li>
        </ul>
    </div>


        <form action="/addMember" method="POST">
        <div class="container">
            <h1>Add Members</h1>
        <input name="name" type="text" id="name" required placeholder="Enter the name">
        <input name="email" type="email" id="num" required placeholder="Enter email">
        <input name="password" type="password" id="pass" required placeholder="Enter password">
        <button type="submit" id="add">Submit</button>
        </div>
    </form>


        <form action="/delMember" method="POST">
            <div class="container">
                <h1>Remove Members</h1>
        <input name="email" type="email" id="num2" required placeholder="Enter email">
        <button type="submit" id="remove">Submit</button>
            </div>
        </form>

</body>

</html>
