<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Grievance History</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/gHistoryMem.css">
<link rel="stylesheet" href="css/nav.css">
<script src="js/gHistoryMem.js"></script>
</head>
<body onload="intotable()">
  <div id='cssmenu'>
    <ul>
      <li><a href='/profile'><span>Home</span></a></li>
      <li class="active"><a href='/status'><span>History</span></a></li>
      <li class='last'><a href='/logout'><span>Logout</span></a></li>
    </ul>
  </div>
  <h2>Grievance Table</h2>
  <input type="text" id="myInput" onkeyup="intotable1()" placeholder="Search for keywords.." title="Type in a name">
  <div id="myModal" class="modal">

  <!-- Modal content -->

  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>Resolve Grievance</h4>
    <textarea id="givres" name="givres" placeholder="Enter your response to grievance" style="height:200px"></textarea>
    <br>
    <button id="submit" type="submit" onclick="submitRes()">Submit</button>
  </div>

</div>
<table id="tbl">
  <tr>
    <th>ID</th>
    <th>Registration Number</th>
    <th>Details</th>
    <th>Date</th>
    <th>Status</th>
    <th>Category</th>
    <th>Respond</th>
  </tr>
</table>
</div>
</body>
</html>
