<html>

<head>
    <title>Student Grievances Portal</title>
    <link rel="stylesheet" type="" href="css/home.css">
</head>

<body>
    <h1>Student Grievance Redressal Portal</h1>
    <div class="login">
        <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email/Registration No." required> <br>
        <input type="password" name="password" placeholder="Password" required> <br>
         <select id="type" onchange="changeMenu()">
            <option value="student">Student</option>
            <option value="member">Member</option>
            <option value="head">Head</option>
        </select> <br>
        <select id="level" style="display: none" onchange="changeMenu()">
            <option value="d">Department</option>
            <option value="i">Institute</option>
            <option value="u">University</option>
        </select>
        <br>
        <input type="hidden" name="acc_type" id="acc_type" value="student">
        <button type="submit" id="submit">Login</button>
        <script type="text/javascript" src="js/login.js"></script>
        </form>
    </div>
</body>

</html>
