<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body onload="loginUser()">
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='#'><span>Home</span></a></li>
            <li><a href='/status'><span>History</span></a></li>
            <li id="addGr" style="display:none"><a href='/addGrievance'><span>Add Grievance</span></a></li>
            <li id="addMem" style="display:none"><a href='/manageMember'><span>Add/Remove Members</span></a></li>
            <li class='last'><a href='/logout'><span>Logout</span></a></li>
        </ul>
    </div>

    <div id="studentLogin" class="displayInactive">
        <h2>Welcome, Student</h2>
        <span id="studentName"></span>
        <br>

        <span id="studentCollege"></span>
        <br>

        <span id="studentReg_no"></span>
        <br>

        <span id="studentStream"></span>
        <br>

        <span id="studentSem"></span>
        <br>
    </div>

    <div id="headLogin" class="displayInactive">
        <h2>Welcome, Committee Head</h2>
        <span id="headName"></span>
        <br>

        <span id="headEmail"></span>
        <br>
    </div>

    <div id="memberLogin" class="displayInactive">
        <h2>Welcome, Committe Member</h2>
        <span id="memberName"></span>
        <br>

        <span id="memberEmail"></span>
        <br>
    </div>
</body>
<script type="text/javascript" src="js/profile.js"></script>
</html>

