@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap');
    body {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(202, 80, 32) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(202, 80, 32, 1) 100%);
        background-color: #ffac81;
        background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
        color: #994343;
    }

        .container {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 120px;
        }

        h1 {
            color: rgb(202, 80, 32);
            color: #994343;
        }

        input {
            border-radius: 20px;
            border: 2px solid #C2414A;
            padding-left: 10px;
            padding-right: 50px;
            background-color: transparent;
            color: black;
            font-size: large;
            opacity: 75%;
            margin-top: 12.5px;
            font-size: .8em;
            width: auto;
        }

         ::placeholder {
            color: inherit;
        }

        button {
            width: 40%;
            margin-top: 20px;
            background-color: tomato;
            border: 2px tomato;
            padding: 5px 10px 5px 10px;
        }
