@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap');
body {
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(202, 80, 32) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(202, 80, 32, 1) 100%); */
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-right: 10px;
    font-size: 2.3em;
    letter-spacing: 2px;
    /*color: #fa672d;*/
    color: #994343;
    padding-top: 10px;
}

input,
select {
    border-radius: 20px;
    border: 2px solid #C2414A;
    padding-right: 95px;
    padding-left: 8px;
    padding-top: 11.3px;
    padding-bottom: 11.3px;
    background-color: transparent;
    color: black;
    opacity: 75%;
    margin-top: 12.5px;
    font-size: .8em;
}

select {
    -webkit-appearance: none;
}

#submit {
    margin-top: 20px;
    background-color: tomato;
    border: 2px solid tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
    color: white;
}
