@import url('http://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap');
body {
    width: 100wh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(202, 80, 32) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(202, 80, 32, 1) 100%);
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    color: #994343;
}

.displayInactive {
    display: none;
}

h2 {
    font-size: 50px;
    color: orangered;
    color: #994343;
}

#logout, #status {
    margin-top: 40px;
    background-color: tomato;
    border: 2px solid tomato;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 10%;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


/*  @import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700&display=swap');

body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Raleway', sans-serif;
    font-size: 30px;

    background-color: #1F2833;
}


#studentLogin, #headLogin, #memberLogin{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    color: #66fcf1;
    margin: 10px;
    justify-content: space-evenly;

}

h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    color: white;
}

.displayInactive {
    display: none;
}
 */
